* {
    box-sizing: border-box;
}

body {
    font: 1em 'Josefin Sans', Helvetica, Arial, sans-serif;
}



/* HEADINGS */

h1,
h2 {
    display: inline-block;
}

h1 {
    margin-top: 6px;
    padding-left: 90px;
}

/* HEADER */

header {
    background-color: rgba(0, 0, 0, 0.808);
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* NAVIGATION */

.main-nav {
    display: inline-block;
}

.main-nav ul {
    list-style-type: none;
    margin-top: -6px;
}

.main-nav li {
    display: inline-block;
    padding: 16px;
    font-weight: 200;
    font-size: 1.5em;
}

.main-nav a {
    text-decoration: none;
    color: #d0d0d0;
    transition: all .3s ease-in-out;
}

.main-nav a:hover {
    color: #f49101;
}

.main-nav a:active {
    border-bottom: 1px solid #f49101;
}

/* .main-nav ul {
    list-style-type: none;
    margin-top: -6px;
}

.main-nav li {
    display: inline-block;
    padding: 16px;
    font-weight: 200;
    font-size: .75rem;
    text-align: center;
}

.main-nav a {
    text-decoration: none;
    color: #d0d0d0;
    color: black;
    transition: all .3s ease-in-out;
}

.main-nav a:hover {
    color: #f49101;
}

.main-nav a:active {
    border-bottom: 1px solid #f49101;
} */

/* <ul>
<li><a href="#">Portfolio</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Skills</a></li>
<li><a href="#">Contact</a></li>
</ul>  */

/* =================================
  Photo Overlay Transitions
==================================== */
/* ---- Photo Overlay ---- */
.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background: rgba(0,0,0, .65);
    opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
	background-color: #4a89ca;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
    overflow: hidden;
}

.photo-container {
    width: 33%;
    display: inline-block;
}
.photo-container img {
 	max-width: 100%;
}

/* <div class="photo-container">
<div class="photo">
  <img src="img/photos/4.jpg" alt="An awkward horse head">
  <div class="photo-overlay">
      <h3>Snarky Horse</h3>
      <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</div>
<a href="#" class="button">download</a>
</div> */


/* MEDIA QUERIES */

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ANIMATIONS */

/* Headings */

@keyframes slide-right {
    0% {
              transform: translateX(-500px);
    }
    100% {
              transform: translateX(30%);
    }
}

@keyframes slide-left {
    0% {
              transform: translateX(1000px);
    }
    100% {
              transform: translateX(10%);
    }
}


.slide {
    animation: slide-right 2s ease-in-out both;
}

.slide-left {
    animation: slide-left 2s ease-in-out both;
}
