* {
    box-sizing: border-box;
}

/* GLOBAL PAGE */

body {
    /* font: 1em 'Josefin Sans', Helvetica, Arial, sans-serif; */
    font: 1em 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

main {
    padding-top: 80px;
}

/* LINKS */

a,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
}


/* HEADINGS */

h1,
h2,
h3,
h4,
.main-nav {
    font-family: 'Expletus Sans', cursive;
}
h1 {
    font-size: 2rem;  /*18vw*/
    font-weight: 600;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.5rem; /*12vw*/
    font-weight: 500;
}

/* HEADER and FOOTER */

header {
    background: url('../img/header-img.jpg') no-repeat top center;
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
    padding: 0 5%;
}

/* FORM */

.contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

button.submit {
    width: 50%;
    margin: 20px auto;
    height: 50px;
    background-color: #f49101;
    border: 1px solid #0f0f0f;
    border-radius: 6px;
    transition: all .3s ease-in-out;
}

button.submit:hover {
    background-color: rgba(244, 145, 1, .8);
}

#form-alert,
#form-confirm {
    display: none;
    position: relative;
    width: 80%;
    height: 175px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100000;
    background-color: #f49101;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
}
#alert-exit,
#confirm-exit {
    position: absolute;
    width: 100px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
    .main-nav {
        height: 100px;
    }
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    header {
        height: 600px;
    }
    .contact-form {
        width: 60%;
        max-width: 700px;
    }

}

@media (min-width: 1024px) {
    h1 {
        font-size: 8rem;
        /* letter-spacing: 6px; */
        padding-top: 40px;
    }
    h2 {
        font-size: 5rem;
    }
    header {
        height: 700px;
    }
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

