* {
    box-sizing: border-box;
}

body {
    background: $floral-white;
    font: 1em 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

header {
    background-color: $header-bg;
    display: flex;
    padding-top: 40px;
    flex-direction: column-reverse;
    @include medq($break-m) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.headings {
    display: flex;
    flex-direction: column;
}

.header-img {
    @include image;
    @include medq($break-m) {
        margin: auto 20px;
    }
}

#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include medq($break-l) {
        flex-direction: row;
    }
}

.bar-container {
    width: 80%;
    margin: 10px auto;
    height: 40px;
    border: 1px solid;
    position: relative;
    border-radius: 5px;
    @include medq($break-m) {
        width: 30%;
    }

}

.bar-container .bar-fill {
    height: 100%;
    z-index: 100;
    position: absolute;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.html,
.css {
    width: 90%;
    background-color: lighten($flame, 10%);
}

.javascript {
    width: 50%;
    background-color: lighten($flame, 20%);
}

